/*  *********************************************  */
/*  **********  /02-apps-react-vite  ************  */
/*  **********  /src/styles/index.css  **********  */
/*  *********************************************  */


@import './header.css';
@import './Navbarlink.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    position: relative;
    height: 100vh;
    background-image: url('../assets/imagenes/background-fondo.jpg');
    background-size: cover;  /* Asegura que la imagen cubra toda la pantalla */
    background-repeat: no-repeat;  /* Evita que la imagen se repita */
    background-position: center center;  /* Centra la imagen */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.layout {
    width: 75%;
    height: 100vh;
    margin: 10px auto;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    color: #eee;
}

.layout__main {
    width: 100%;
    flex-grow: 1;
    /* height: 775px; */
    /* background-color: bisque; */
}



/*  **********  Rutninas  **********  */

.rutinas__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 50px;
    color: black;
}

.rutinas__imagenes {
    display: flex;
    gap: 20px;
}

.imagen__ejercicio {
    width: 100px;
    height: 100px;
    /* image-rendering: pixelated; */
}

.render__imagen {
    width: 300px;
    height: 300px;
}

.imagen__seleccionada {
    width: 100%;
    height: 100%;
}
